body {
  margin: 0;
  font-family: -apple-system, 'Helvetica Neue Cyr Roman',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0!important;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Helvetica Neue Cyr Roman';
  src: url('fonts/HelveticaNeueCyr-Roman.eot');
  src: url('fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
  url('fonts/HelveticaNeueCyr-Roman.woff') format('woff'),
  url('fonts/HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica Neue Cyr Bold';
  src: url('fonts/HelveticaNeueCyr-Bold.eot');
  src: url('fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url('fonts/HelveticaNeueCyr-Bold.woff') format('woff'),
  url('fonts/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  }

  .list {
    color: blue;
  }

  .blue {
    background: #030A23;
}
.red {
    background: #100014;
}
.green {
    background: #210D05;
}


* {
    user-select: none;
}

html, body {
    overflow: hidden;
    background-color: #000;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.page__canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%!important;
}
.canvas__fullHeight {
    position: fixed;
    background: transparent;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
}