.Center {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    position: relative;
    z-index: 999;
    & h3 {
        color: #fff;
        font-weight: 100;
        margin: 5px 0;
        font-size: 18px;
        &:nth-child(1){
            position: relative;
            &:before {
                content: '';
                position: absolute;
                right: -28px;
                width: 20px;
                height: 100%;
                background-repeat: no-repeat;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.355' height='19.455' viewBox='0 0 14.355 19.455'%3E%3Cg id='Group_3' data-name='Group 3' transform='translate(-119.684 -457.775)'%3E%3Cpath id='Path_1' data-name='Path 1' d='M119.539-700.7l5.764,5.31,5.764-5.31' transform='translate(1.558 1167.108)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3Cpath id='Path_2' data-name='Path 2' d='M126.862-711.225v12.672' transform='translate(0 1170)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='2'/%3E%3Cpath id='Path_3' data-name='Path 3' d='M119.539-689.6h11.529' transform='translate(1.558 1165.829)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E");
            }
        }
        & a {
            color: #fff;
            text-decoration: none;
        }
    }
}